@model EMovies.Models.Product

<div class="row panel">
    <div class="col-xs-4">
        <img src="@Model.Image" height="400" width="270" alt="@Model.ProductName" title="@Model.ProductName">
    </div>
    <div class="well col-xs-8">
        <h3>
            @Html.DisplayFor(modelItem => Model.ProductName)
        </h3>
        <p>
            @Html.DisplayFor(modelItem => Model.Description)
        </p>
        <p class="pull-right label label-primary">
            $@Html.DisplayFor(modelItem => Model.Price)
        </p>
        <p>
            @Html.ActionLink("Order", "Index", "ItemDetail", new { id = Model.ProductID }, new { id = "ProductID" })
        </p>
    </div>
</div>

