@model EMovies.Models.Product

@{
    ViewBag.Title = "Movie Shop Details";
}

<h2>
    Online Store
</h2>
<div style="display:inline-block">
    <div style="width:190px; float:left;">
        <img src="@Model.Image" width="170" height="276" alt="@Model.ProductName" title="@Model.ProductName">
    </div>
    <div style="width:70%; float:left;">
        <h1>
            @Html.DisplayFor(modelItem => Model.ProductName)
        </h1>
        <p>
            @Html.Raw(@Model.Details)
        </p>
        <p>
            $@Html.DisplayFor(modelItem => Model.Price)
        </p>
        @using (Html.BeginForm("AddToCart", "ShoppingCart"))
        {
            <div class="pull-right">
                @Html.HiddenFor(x => x.ProductID)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                <input type="submit" class="btn btn-success" value="Add to cart" />
            </div>
        }
    </div>
</div>
